<nav class="navbar navbar-light bg-light">
  <a href="#" class="navbar-brand mr-auto ms-5">Blockchain Polls</a>
  <button
    type="button"
    class="btn btn-secondary me-4"
    (click)="showForm = !showForm"
  >
    Create Poll
  </button>
  <!-- O n click showForm flag toggles -->
</nav>

<section class="jumbotron bg-light text-center">
  <h1>Polls ReThinked</h1>
  <p class="lead text-muted">Powered by Blockchain</p>
</section>

<!-- Show the form when showForm flag is true -->
<app-poll-create
  *ngIf="showForm"
  (pollCreated)="handlePollCreate($event)"
></app-poll-create>

<div class="d-flex">
  <div class="container poll-list">
    <!-- On clicking this card the following poll details will be displayed by calling setActivePoll() -->
    <!-- we use | async pipe to wait for the data to be loaded and then the component will be generated -->
    <app-poll
      *ngFor="let poll of polls | async"
      [question]="poll.question"
      [voted]="poll.voted"
      [votes]="poll.results"
      [pollImage]="poll.thumbnail"
      (click)="setActivePoll(poll)"
    ></app-poll>
  </div>
  <div class="container poll-detail">
    <app-poll-vote
      *ngIf="activePoll"
      [id]="activePoll.id"
      [voted]="activePoll.voted"
      [question]="activePoll.question"
      [options]="activePoll.options"
      [results]="activePoll.results"
      (pollVoted)="handlePollVote($event)"
    ></app-poll-vote>
  </div>
</div>
